<!doctype html>

<head>
    <link href="{{ url_for('static',filename='home/css/footers.css') }}" rel="stylesheet">
</head>


<div class="container-fluid">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ url_for('home.index') }}" class="nav-link px-2 text-muted">首页</a></li>
      <li class="nav-item"><a href="https://www.swsc.com.cn/" target="_blank"  class="nav-link px-2 text-muted">西证官网</a></li>
      <li class="nav-item"><a href="http://office.swsc.com.cn/" target="_blank" class="nav-link px-2 text-muted">西证协同</a></li>
      <li class="nav-item"><a href="#" target="_blank"  class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" target="_blank"  class="nav-link px-2 text-muted">关于</a></li>
    </ul>
      <div class=" container">
          <p class="float-end mb-1"><a href="#">Back to top</a></p>
          <p class="text-center text-muted mb-1">&copy; 2022 西南证券金融科技部-交易系统研发中心</p>
      </div>
  </footer>
</div>

</html>
