	<!-- 版权栏 -->
<div class="container" style="margin-top:30px;border-top: 1px solid #D9D9D9;">
	<div id="footer">
        <dl class="foot">
        <dt>西证导航</dt>
        <dd>
            <div>
                <a href="https://www.swsc.com.cn/" target="_blank" rel="stylesheet">西南证券官网</a>
            </div>
            <div>
                <a href="https://eip.swsc.com.cn/" target="_blank" rel="stylesheet">西南证券协同</a>
            </div>
            <div>
                <a href="http://222.178.70.11:6888/shr/home.do" target="_blank" rel="stylesheet">西证人力资源系统</a>
            </div>
        </dd>
    </dl>

        <dl class="foot">
        <dt>金融知识</dt>
        <dd>
            <div>
                <a href="http://www.jinrongbaike.com/" target="_blank" rel="stylesheet">金融百科</a>
            </div>
            <div>
                <a href="https://service.hundsun.com/front/" target="_blank" rel="stylesheet">恒生客户服务平台</a>
            </div>
            <div>
                <a href="https://istock.ssetech.com.cn/wiki/doku.php" target="_blank" rel="stylesheet">证券信息技术知识库</a>
            </div>
        </dd>
        </dl>

        <dl class="foot">
        <dt>相关机构</dt>
        <dd>
            <div>
                <a href="http://www.csrc.gov.cn/" target="_blank" rel="stylesheet">中国证券监督管理委员会</a>
            </div>
            <div>
                <a href="http://www.sse.com.cn/" target="_blank" rel="stylesheet">上海证券交易所</a>
            </div>
            <div>
                <a href="http://www.szse.cn/" target="_blank" rel="stylesheet">深圳证券交易所</a>
            </div>
        </dd>
        </dl>

	    <dl class="foot">
	        <dt>关于我们</dt>
	        <dd>
	            <img src="{{url_for('static',filename='home/images/np.png')}}" alt="关于我们">
	        </dd>
	    </dl>
	</div>
</div>
<footer id="mr-footer" class="wrap mr-footer">
	<section class="mr-copyright">
		<div class="container">
			<div style="width:auto; height:auto; margin:auto;">
				<small> Copyright &copy;&nbsp;<a
					href= "url_for{{ 'home.index' }}" target="_blank">金融科技部-交易系统研发中心</a>  |
                    部门地址：重庆市江北区金沙门路32号西南证券总部大楼20层西侧
				</small> 内部网站应该不需要备案号吧
			</div>
		</div>
	</section>
</footer>