{% extends "home/common.html" %}
{% block content %}
	<!-- 轮播重要通知及展示热门文章 -->
	<div class="container mr-sl mr-sl-1">
		<div class="mr-spotlight mr-spotlight-1  row">
			<!-- 轮播重要通知 -->
			<div
				class=" col-lg-9 col-md-12  col-sm-3 hidden-sm   col-xs-6 hidden-xs ">
				<div class="mr-module module " id="Mod159">
					<div class="module-inner">
						<div class="module-ct">
							<div class="mijoshop">
								<div class="container_oc">
									<div class="slideshow">
										<div id="slidershow" class="nivoSlider">
											<a href="#" class="nivo-imageLink" style="display: block;cursor:default">
												<img src="{{url_for('static',filename='images/banner/img1.png')}}" class="img-responsive"
												style="display: none;">
											</a>
											<a href="#"
												class="nivo-imageLink" style="display: none;cursor:default">
											<img src="{{url_for('static',filename='images/banner/img2.png')}}" class="img-responsive"
												style="display: none;">
											</a>
											<a href="#" class="nivo-imageLink" style="display: none;cursor:default">
												<img src="{{url_for('static',filename='images/banner/img3.png')}}" class="img-responsive"
												style="display: none;">
											</a>
										</div>
									</div>
									<script type="text/javascript">
										//实现调用幻灯片插件轮播广告
										jQuery(document).ready(function() {
											jQuery('#slidershow').nivoSlider();
										});
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 展示热门文章 -->
			<div class="col-lg-3  col-md-6 hidden-md   col-sm-3 hidden-sm   col-xs-6 hidden-xs ">
				<div class="mr-module module highlight " id="Mod160">
					<div class="module-inner">
						<h3 class="module-title ">
							<span>热门文章</span>
						</h3>
						<div class="module-ct">
							<div class="mijoshop">
								<div class="container_oc">
									<div class="box_oc">
										<!-- 循环显示热门内容 ：添加两条商品信息-->

										<div class="box-product product-grid">
											<div>
												<div class="image">
													<a href="#">
														<img src="{{url_for('static',filename='home/images/np.png')}}" width="250px">
													</a>
												</div>
												<div class="name">
													<a href="#">文章</a>
												</div>
												<!-- 星级评分条 -->
												<div class="rating">
													<span class="fa fa-stack"><i
														class="fa fa-star fa-stack-2x"></i><i
														class="fa fa-star-o fa-stack-2x"></i> </span> <span
														class="fa fa-stack"><i
														class="fa fa-star fa-stack-2x"></i><i
														class="fa fa-star-o fa-stack-2x"></i> </span> <span
														class="fa fa-stack"><i
														class="fa fa-star fa-stack-2x"></i><i
														class="fa fa-star-o fa-stack-2x"></i> </span> <span
														class="fa fa-stack"><i
														class="fa fa-star fa-stack-2x"></i><i
														class="fa fa-star-o fa-stack-2x"></i> </span> <span
														class="fa fa-stack"><i
														class="fa fa-star fa-stack-2x"></i><i
														class="fa fa-star-o fa-stack-2x"></i> </span>
												</div>
												<!-- // 星级评分条 -->
												<!-- 作者 -->
												<div class="price">
													<span class="price-new">作者：tianling </span>
												</div>
												<!-- // 作者 -->
											</div>
										</div>

										<!-- // 循环显示热门商品 ：添加两条商品信息-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // 显示热门文章 -->
		</div>
	</div>
	<!-- //轮播重要通知及展示热门文章  -->
<!-- //版权栏 -->
{% endblock %}