{% extends "home/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='home/css/signin.css') }}" rel="stylesheet">
    </head>
    <body class="text-center row clearfix">
    <main class="form-signin col-3">
        <form method="post">
            <div class="mb-4 mt-5" style="max-width: 360px; margin: 0 auto;">
                <a href="{{ url_for('home.index') }}" title="点击返回首页"><img class="img-rounded img-responsive"
                                                                          src="{{ url_for('static',filename='home/images/JYLOGO.png') }}"></a>
            </div>
            <p class="alert-danger">
                {% for msg in get_flashed_messages(category_filter=["err_modify"]) %}

                    {{ msg }}

                {% endfor %}
            </p>
            <p class="alert-success">
                {% for msg in get_flashed_messages(category_filter=["info_modify"]) %}

                    {{ msg }}

                {% endfor %}
            </p>

            <div class="form-floating mb-4">
                <input class="form-control" id="username" name="username" placeholder="请输入用户名" required=""
                       size="38" type="text" value={{ session.get('username') }} readonly>
                <label class="text-muted" for="floatingInput">用户名</label>
            </div>

            <div class="form-floating mb-4">
                {{ form.oldpassword }}
                <label class="text-muted" for="floatingPassword">密码</label>
                {% for err in form.oldpassword.errors %}
                    <span class="alert-danger">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="form-floating mb-4">
                {{ form.newpassword }}
                <label class="text-muted" for="floatingPassword">新密码</label>
                {% for err in form.newpassword.errors %}
                    <span class="alert-danger">{{ err }}</span>
                {% endfor %}
            </div>

            <div class="form-floating mb-4">
                {{ form.renewpassword }}
                <label class="text-muted" for="floatingPassword">确认新密码</label>
                {% for err in form.renewpassword.errors %}
                    <span class="alert-danger">{{ err }}</span>
                {% endfor %}
            </div>

            {{ form.csrf_token }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                确认修改
            </button>

        </form>
    </main>
    <script src="{{ url_for('static',filename='home/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/bootstrap.bundle.min.js') }}"></script>
    </body>
{% endblock %}