{% extends "common/common.html" %}

{% block content %}
    <body>
    <head>
        <style>
            .table > tbody > tr > td {
                /*border: 0px;*/
                vertical-align: middle;
            }
        </style>
    </head>
    <div class="container-fluid">
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-4 text-center bg-light">
            <div class="col-md-5 p-lg-3 mx-auto my-5">
                <h1 class="display-4 fw-normal">其他系统接口文件下载</h1>
                <p class="lead fw-normal">本界面提供UF20之外其他系统接口文件下载....</p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <p class="lead container col-3 mt-3"></p>
        {% for sys in g.bs %}
            {% if 'O3' in  sys.sys_name or 'o3' in sys.sys_name %}
                <p class="fw-normal lead text-center">所属系统 ： {{ sys.sys_name }} </p>
                <p class="fw-normal lead text-center">系统管理员 ： {{ sys.manager }}</p>
                <table class="table table-hover ">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="fst-italic">接口文件</th>
                        <th scope="col" class="fst-italic">版本</th>
                        <th scope="col" class="fst-italic">上传时间</th>
                        <th scope="col" class="fst-italic">接口文件下载</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in g.interface %}
                        {% if item.sys_no == sys.sys_no %}
                            <tr class="text-small">
                                <td>{{ item.file_name }}</td>
                                <td>{{ item.version }}</td>
                                <td>{{ item.upload_time }}</td>
                                <td><a class="btn btn-outline-primary btn-sm"
                                       href="{{ url_for('bs.ifDownload', file_path=item.file_path) }}">点击下载</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% elif '法人清算' in  sys.sys_name %}
                <p class="fw-normal lead text-center">所属系统 ： {{ sys.sys_name }} </p>
                <p class="fw-normal lead text-center">系统管理员 ： {{ sys.manager }}</p>
                <table class="table table-hover ">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="fst-italic">接口文件</th>
                        <th scope="col" class="fst-italic">版本</th>
                        <th scope="col" class="fst-italic">上传时间</th>
                        <th scope="col" class="fst-italic">接口文件下载</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in g.interface %}
                        {% if item.sys_no == sys.sys_no %}
                            <tr class="text-small">
                                <td>{{ item.file_name }}</td>
                                <td>{{ item.version }}</td>
                                <td>{{ item.upload_time }}</td>
                                <td><a class="btn btn-outline-primary btn-sm"
                                       href="{{ url_for('bs.ifDownload', file_path=item.file_path) }}">点击下载</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
    </body>
{% endblock %}