<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="tianLing">
    <title>注册|交易系统研发中心管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='home/css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='home/css/signin.css') }}" rel="stylesheet">

</head>
<body class="container-fluid text-center row clearfix">

<main class="form-signin col-3">
    <form method="post">
        <div class="mb-4 mt-5" style="max-width: 360px; margin: 0 auto;">
            <a href="{{ url_for('home.index') }}" title="点击返回首页"><img class="img-rounded img-responsive"
                                                                      src="{{ url_for('static',filename='home/images/JYLOGO.png') }}"></a>
        </div>
        <p class="alert-danger">
            {% for msg in get_flashed_messages(category_filter=["err_register"]) %}

                    {{ msg }}

            {% endfor %}
        </p>

        <div class="form-floating mb-4">
            {{ form.username }}
            {% for err in form.username.errors %}
                <span class="alert-danger">{{ err }}</span>
            {% endfor %}
        </div>

        <div class="form-floating mb-4">
            {{ form.password }}
            {% for err in form.password.errors %}
                <span class="alert-danger">{{ err }}</span>
            {% endfor %}
        </div>

        <div class="form-floating mb-4">
            {{ form.repassword }}
            {% for err in form.repassword.errors %}
                <span class="alert-danger">{{ err }}</span>
            {% endfor %}
        </div>

        <div class="form-floating mb-4">
            {{ form.realname }}
            {% for err in form.realname.errors %}
                <span class="alert-danger">{{ err }}</span>
            {% endfor %}
        </div>

        <div class="form-floating mb-4">
            {{ form.department }}
            {% for err in form.department.errors %}
                <span class="alert-danger">{{ err }}</span>
            {% endfor %}
        </div>
        {{ form.csrf_token }}
        <button class="w-100 btn btn-lg btn-primary" type="submit">
            用户注册
        </button>
        <div class="form-group"
             style="border-top: 1px solid #D9D9D9; margin: 20px;">
            <label style="float: right; color: #858585; margin-right: 40px; margin-top: 10px; font-size: 14px;">
                已有账号？<a href="{{ url_for('home.login') }}">去登录</a></label>
        </div>
    </form>
</main>
    <script src="{{ url_for('static',filename='home/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/bootstrap.bundle.min.js') }}"></script>
</body>
{% include "home/footer.html" %}
</html>
