{% extends "common/common.html" %}
{% block content %}

    <body>
    <div class="container-fluid">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">经纪业务运营平台V2.0</h1>
                <p class="lead fw-normal">用于经纪客户账户、交易、清算管理，覆盖股基债交易与非交易，
                    融资融券、转融通、个股期权、产品销售等功能.</p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <div class="album py-5">
            <div class="container col-8">
                <div class="row justify-content-center">
                    <div class="col-4 mr-5">
                        <div class="card mb-4 shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="225" fill="currentColor"
                                 class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z"/>
                            </svg>
                            <div class="card-body">
                                <b><p class="card-text">UF20接口管理</p></b>
                                <p class="card-text">本菜单提供UF20相关接口信息查询，支持模糊查询接口功能号与功能号名称，以及对应的功能号详细信息...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ url_for('home.ifMngOut') }}" type="button"
                                           class="btn btn-sm btn-outline-secondary">了解详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-4 shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="225" fill="currentColor"
                                 class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                            </svg>
                            <div class="card-body">
                                <b><p class="card-text">UF20数据库管理</p></b>
                                <p class="card-text">本菜单提供UF20数据库表结构查询功能，支持模糊查询表名/表中文名/字段名/字段中文名，以及字段对应数据字典信息...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">了解详情</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body>


{% endblock %}