{% extends "common/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/common.css') }}" rel="stylesheet">
        <style>
            .modal-dialog {
                max-width: max-content;
            }

            .modal-content {
                width: auto;
            }
        </style>
    </head>
    <body>

    <div class="container-fluid mt-3">
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-4 text-center bg-light">
            <div class="col-md-5 p-lg-3 mx-auto my-5">
                <h1 class="display-4 fw-normal">UF20数据库检索</h1>
                <p class="lead fw-normal">本界面提供UF20相关表结构信息查询,目前收录UF20相关表 {{ total_tabel_num }} 张，以下为支持查询的系统：
                    {% for sys in g.bs %}
                        <p class="lead fw-normal text-info text-small"> {{ sys.sys_name }} </p>
                    {% endfor %}
                </p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <!-- 搜索 -->
        <form method="post" class="col-auto form-inline my-2 my-lg-0 justify-content-center">
            <select id='select_sys' name="select_sys" class="custom-select"
                    aria-label=".form-select-lg" required>
                <option selected="">选择系统</option>
                {% for sys in g.bs %}
                    <option value={{ sys.sys_no }}>{{ sys.sys_name }}</option>
                {% endfor %}
            </select>
            {{ form.select_type }}
            {{ form.keyword }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
        <br>
        <!-- 展示搜索表格结果 -->
        {% if sys_name == 'unsearch' %}
            <p class="text-center text-info">暂无搜索结果</p>
        {% else %}
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">系统名</th>
                    <th scope="col">表名</th>
                    <th scope="col">表描述</th>
                    <th scope="col">字段名</th>
                    <th scope="col">字段描述</th>
                    <th scope="col">业务系统</th>
                    <th scope="col">DB用户</th>
                </tr>
                </thead>
                <tbody>
                {% for item in g.query_result %}
                    <tr class="text-small">
                        <td>{{ loop.index }}</td>
                        <td>{{ g.sys.sys_name }}</td>
                        <td>{{ item.table_name }}</td>
                        <td>{{ item.table_describe }}</td>
                        <td><a id="modal-1" href="#modal-container-1" role="button"
                               data-toggle="modal" onclick="getDictionary($(this).text())">{{ item.field_name }}</a>
                        </td>
                        <td>{{ item.field_describe }}</td>
                        <td>{{ item.sheet_name }}</td>
                        <td>{{ item.db_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <!-- modal -->
        <div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            字段数据字典信息
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-small">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function getDictionary(field_name) {
            $(".modal-body").load("/bs/querydictionary/" + field_name);
            $(".modal-title").text('字段名：' + field_name);
        }
    </script>
    </body>

{% endblock %}