{% extends "common/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/common.css') }}" rel="stylesheet">
        <style>
            .modal-dialog {
                max-width: max-content;
            }

            .modal-content {
                width: auto;
            }
        </style>
    </head>
    <body>

    <div class="container-fluid mt-3">
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-4 text-center bg-light">
            <div class="col-md-5 p-lg-3 mx-auto my-5">
                <h1 class="display-4 fw-normal">接口信息搜索</h1>
                <p class="lead fw-normal">本界面提供UF20相关接口查询，目前收录UF20相关接口{{ total_if_num }}个，以下为目前收录的接口文件<a
                        href="{{ url_for('home.uf20IfFetch') }}">（点此下载文件）</a>：
                    {% for sys in if_file_list %}
                        <p class="lead fw-normal text-info"> {{ sys.file_name }} </p>
                    {% endfor %}
                </p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <!-- 搜索 -->
        <form method="post" class="col-auto form-inline my-2 my-lg-0 justify-content-center">
            {{ form.select_type }}
            {{ form.keyword }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
        <br>
        <!-- 展示搜索表格结果 -->
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">功能号</th>
                <th scope="col">老功能号</th>
                <th scope="col">功能名称</th>
                <th scope="col">功能描述</th>
                <th scope="col">所在文件</th>
                <th scope="col">业务范围</th>
                <th scope="col">产品范围</th>
                <th scope="col">功能状态</th>
                <th scope="col">结果集返回</th>
            </tr>
            </thead>
            <tbody>
            {% for item in g.query_result %}
                <tr class="text-small">
                    <td>{{ loop.index }}</td>
                    <td><a id="modal-1" href="#modal-container-1" role="button"
                           data-toggle="modal" onclick="getDictionary($(this).text())">{{ item.func_no }}</a>
                    </td>
                    <td>{{ item.func_no_old }}</td>
                    <td>{{ item.func_name }}</td>
                    <td>{{ item.func_describe }}</td>
                    <td>{{ item.file_path.split('\\') | last }}</td>
                    <td>{{ item.func_range }}</td>
                    <td>{{ item.product_range }}</td>
                    <td>{{ item.func_status }}</td>
                    <td>{{ item.func_return }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- modal -->
        <div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            功能号详细信息
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-small">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function getDictionary(func_no) {
            $(".modal-body").load("/bs/if_func_query/" + func_no);
            $(".modal-title").text('功能号：' + func_no);
        }
    </script>
    </body>

{% endblock %}