{% extends "common/common.html" %}
{% block content %}

    <body>
    <div class="container-fluid">
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-2 text-center bg-light">
            <div class="col-md-5 p-lg-3 mx-auto my-5">
                <h1 class="display-4 fw-normal">经纪业务运营平台V2.0</h1>
                <p class="lead fw-normal">用于经纪客户账户、交易、清算管理，覆盖股基债交易与非交易，
                    融资融券、转融通、个股期权、产品销售等功能.</p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <div class="album py-5">
            <div class="container col-8">
                <div class="row justify-content-center">
                    <div class="col-4 mr-5">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{ url_for('home.uf20IfSearch') }}"><img class="d-block w-100" width="100%"
                                                                             style="object-fit: cover"
                                                                             src="{{ url_for('static',filename='images/index/interface.svg') }}"
                                                                             alt="interface"></a>
                            <div class="card-body">
                                <b><p class="card-text">UF20接口管理</p></b>
                                <p class="card-text">本界面提供UF20相关接口下载、搜索功能，支持模糊查询接口功能号与功能号名称，以及对应的功能号详细信息...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{ url_for('home.uf20DfSearch') }}"><img class="d-block w-100" width="100%"
                                                                              style="object-fit: cover"
                                                                              src="{{ url_for('static',filename='images/index/db.svg') }}"
                                                                              alt="db"></a>
                            <div class="card-body">
                                <b><p class="card-text">UF20数据库检索</p></b>
                                <p class="card-text">本菜单提供UF20数据库表结构查询功能，支持模糊查询表名/表中文名/字段名/字段中文名，以及字段对应数据字典信息...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body>


{% endblock %}