{% extends "home/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/bootstrap.min.css') }}" rel="stylesheet">

    </head>
    <body>

    <div class="container">
        <b><h5>当前业务系统对应关系如下：</h5></b>
        <a href="{{ url_for('bs.bsMapSet') }}">创建业务系统对应关系</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">系统编号</th>
                <th scope="col">系统名称</th>
                <th scope="col">系统负责人</th>
            </tr>
            </thead>
            <tbody>
            {% for item in g.bs_query_data %}
                <tr>
                    <th scope="row">{{ item.sys_no }}</th>
                    <td>{{ item.sys_name }}</td>
                    <td>{{ item.manager }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script src="{{ url_for('static',filename='home/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/bootstrap.bundle.min.js') }}"></script>

    </body>


{% endblock %}