{% extends "home/common.html" %}
{% block content %}
    <body>

    <div class="container bg-body d-grid col-3 p-3">
        <div class="mb-3">
            <h3>新建业务系统关系</h3>
            <a class="d-flex align-items-center" href="{{ url_for('bs.bsMap') }}">查看已有系统关系</a>
        </div>
        <form method="post">
            <div class="mb-3 mt-2">
                {{ form.sysno }}

                {% for err in form.sysno.errors %}
                    <span class="alert-danger">{{ err }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3 mt-2">
                {{ form.sysname }}

                {% for err in form.sysname.errors %}
                    <span class="alert-danger">{{ err }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3 mt-2">
                {{ form.manager }}
            </div>
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
    <br>
    </body>


{% endblock %}