{% extends "home/common.html" %}
{% block content %}
    <body>

    <div class="container">
        <p class="lead container col-3">业务系统关系维护</p>
        <div class="text-right mb-4">
            <button class="btn btn-primary"><a class="text-white" href="{{ url_for('bs.bsMapSet') }}">新建业务系统关系</a>
            </button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">系统编号</th>
                <th scope="col">系统名称</th>
                <th scope="col">系统负责人</th>
            </tr>
            </thead>
            <tbody>
            {% for item in g.bs_query_data %}
                <tr>
                    <th scope="row">{{ item.sys_no }}</th>
                    <td>{{ item.sys_name }}</td>
                    <td>{{ item.manager }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>


{% endblock %}