{% extends "common/common_sidebar.html" %}
{% block content_sidebar %}

    <div class="container-fluid mt-3">

        <p class="alert-success">
            {% for msg in get_flashed_messages(category_filter=["mapset_success"]) %}

                {{ msg }}

            {% endfor %}
        </p>

        <p class="lead container col-3">业务系统关系维护</p>
        <div class="text-right mb-4">
            <button class="btn btn-primary"><a class="text-white" href="{{ url_for('bs.bsMapSet') }}">新建业务系统关系</a>
            </button>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">系统编号</th>
                <th scope="col">系统名称</th>
                <th scope="col">系统负责人</th>
            </tr>
            </thead>
            <tbody>
            {% for item in g.bs_query_data %}
                <tr>
                    <td>{{ item.sys_no }}</td>
                    <td>{{ item.sys_name }}</td>
                    <td>{{ item.manager }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}