{% extends "home/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
    <div><p><a href="{{ url_for('bs.bsMap') }}">业务系统对应关系维护</a></p></div>
    <div><p><a href="{{ url_for('bs.ifMng') }}">各系统接口维护</a></p></div>
    <div><p><a href="{{ url_for('bs.dfMng') }}">各系统数据库字段维护</a></p></div>
    <div><p><a href="#">各系统环境信息维护</a></p></div>


    <script src="{{ url_for('static',filename='home/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/bootstrap.bundle.min.js') }}"></script>

    </body>


{% endblock %}