{% extends "home/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
            th[scope] {
                font-weight: normal;
            }
        </style>
    </head>
    <body>

    <div class="container">
        <p class="alert-success">
            {% for msg in get_flashed_messages(category_filter=["dfupload_success"]) %}

                {{ msg }}

            {% endfor %}
        </p>

        <p class="lead">当前业务系统对应关系如下：</p>
        <p>
            <button><a href="{{ url_for('bs.dfUpload') }}">数据库源文件上传</a></button>
        </p>
        {% for sys in g.bs %}
            <hr><p class="fw-normal">所属系统 ： {{ sys.sys_name }}</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="fst-italic">表</th>
                    <th scope="col" class="fst-italic">表名</th>
                    <th scope="col" class="fst-italic">所属子系统</th>
                    <th scope="col" class="fst-italic">字段名</th>
                    <th scope="col" class="fst-italic">字段含义</th>
                </tr>
                </thead>
                <tbody>
                {% for item in g.df %}
                    {% if item.sys_no == sys.sys_no %}
                        <tr>
                            <th scope="row">{{ item.table_name }}</th>
                            <td>{{ item.table_describe }}</td>
                            <td>{{ item.sheet_name }}</td>
                            <td>{{ item.field_name }}</td>
                            <td>{{ item.field_describe }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endfor %}
    </div>


    <script src="{{ url_for('static',filename='home/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/bootstrap.bundle.min.js') }}"></script>

    </body>


{% endblock %}