{% extends "common/common_sidebar.html" %}
{% block content_sidebar %}
    <head>
        <style>
            .table > tbody > tr > td {
                /*border: 0px;*/
                vertical-align: middle;
            }
        </style>
    </head>
    <div class="container-fluid">
        <p class="alert-success">
            {% for msg in get_flashed_messages(category_filter=["ifupload_success"]) %}

                {{ msg }}

            {% endfor %}
        </p>
        <p class="alert-success">
            {% for msg in get_flashed_messages(category_filter=["ifdelete_failed"]) %}

                {{ msg }}

            {% endfor %}

        <p class="lead container col-3">接口文件管理</p>
        <div class="text-right mb-4">
            <button class="btn btn-primary"><a class="text-white" href="{{ url_for('bs.ifUpload') }}">接口文件上传</a>
            </button>
        </div>
        </p>
        {% for sys in g.bs %}
            {% if 'UF20' in  sys.sys_name %}
                <hr><p class="fw-normal">所属系统 ： {{ sys.sys_name }} | <a class="btn btn-outline-success btn-sm"
                                                                    href="#">接口搜索</a></p>
                <p>系统管理员 ： {{ sys.manager }}</p>
            {% else %}
                <hr><p class="fw-normal">所属系统 ： {{ sys.sys_name }} </p>
                <p>系统管理员 ： {{ sys.manager }}</p>
            {% endif %}
            <table class="table table-hover ">
                <thead class="thead-light">
                <tr>
                    <th scope="col" class="fst-italic">接口文件</th>
                    <th scope="col" class="fst-italic">版本</th>
                    <th scope="col" class="fst-italic">上传时间</th>
                    <th scope="col" class="fst-italic">接口文件下载</th>
                    <th scope="col" class="fst-italic">文件删除</th>
                </tr>
                </thead>
                <tbody>
                {% for item in g.interface %}
                    {% if item.sys_no == sys.sys_no %}
                        <tr>
                            <td>{{ item.file_name }}</td>
                            <td>{{ item.version }}</td>
                            <td>{{ item.upload_time }}</td>
                            <td><a class="btn btn-outline-primary btn-sm"
                                   href="{{ url_for('bs.ifDownload', file_path=item.file_path) }}">点击下载</a></td>
                            <td><a class="btn btn-danger btn-sm" href="{{ url_for('bs.ifDelete', sys_id=item.id) }}">点击删除</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endfor %}
    </div>

{% endblock %}