<table class="table table-striped table-hover table-bordered table-responsive table-sm">
    <tbody>
    {% for row in data %}
        <tr class="text-left">
            {% for item in row %}
                {% if item|wordcount > 15 %}
                    <td>
                        <a class="btn btn-sm btn-secondary" data-toggle="popover" title="参数详情"
                           data-content="{{ item }}">查看详情
                        </a>
                    </td>
                {% else %}
                    <td>{{ item }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            })
        })
    </script>
    </tbody>
</table>

