{% extends "home/common.html" %}
{% block content %}
    <head>
        <link href="{{ url_for('static',filename='home/css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
            th[scope] {
                font-weight: normal;
            }
        </style>
    </head>
    <body>

    <div class="container">
        <p class="lead">当前业务系统对应关系如下：</p>
        <p><button><a href="{{ url_for('bs.ifupload') }}">新建上传</a></button></p>
        {% for sys in g.bs %}
            <p class="fw-normal">所属系统 ： {{ sys.sys_name }}</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="fst-italic">接口文件</th>
                    <th scope="col" class="fst-italic">版本</th>
                    <th scope="col" class="fst-italic">上传时间</th>
                    <th scope="col" class="fst-italic">文件下载</th>
                </tr>
                </thead>
                <tbody>
                {% for item in g.interface %}
                    <tr>
                        <th scope="row">{{ item.file_name }}</th>
                        <td>{{ item.version }}</td>
                        <td>{{ item.upload_time }}</td>
                        <td><a href="{{ url_for(item.file_path) }}">点击下载</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr><br>
        {% endfor %}
    </div>


    <script src="{{ url_for('static',filename='home/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='home/js/bootstrap.bundle.min.js') }}"></script>

    </body>


{% endblock %}