{% extends "common/common_sidebar.html" %}
{% block content_sidebar %}
    <head>
        <link href="{{ url_for('static',filename='home/css/common.css') }}" rel="stylesheet">
        <style>
            .table > tbody > tr > td {
                /*border: 0px;*/
                vertical-align: middle;
            }

            .modal-dialog {
                max-width: max-content;
            }

            .modal-content {
                width: auto;
            }
        </style>
    </head>
    <body>

    <div class="container-fluid">
        <p class="alert-success">
            {% for msg in get_flashed_messages(category_filter=["siupload_success"]) %}

                {{ msg }}

            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=["sidelete_success"]) %}

                {{ msg }}

            {% endfor %}
            {% for msg in get_flashed_messages(category_filter=["sidelete_failed"]) %}

                {{ msg }}

            {% endfor %}
        </p>
        <p class="lead container col-3">软硬件信息管理</p>
        <div class="text-right mb-4">
            <button class="btn btn-primary"><a class="text-white"
                                               href="{{ url_for('bs.siUpload') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
                </svg>
                软硬件信息文件上传</a></button>
        </div>

        <!-- 表格展示 -->
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">文件名(点击查看)</th>
                <th scope="col">文件类型</th>
                <th scope="col">文件版本</th>
                <th scope="col">上传时间</th>
                <th scope="col">文件下载</th>
                <th scope="col">文件删除</th>
            </tr>
            </thead>
            <tbody>
            {% for item in g.si %}
                <tr class="text-small">
                    <td><a id="modal-1" href="#modal-container-1" role="button"
                           data-toggle="modal"
                           onclick="getPreview({{ item.id }}, $(this).text())">{{ item.file_name }}</a></td>
                    {% if item.service_type == '1' %}
                        <td>服务器/硬件信息</td>
                    {% else %}
                        <td>系统/软件信息</td>
                    {% endif %}
                    <td>{{ item.version }}</td>
                    <td>{{ item.upload_time }}</td>
                    <td><a class="btn btn-outline-primary btn-sm"
                           href="{{ url_for('bs.siDownload', file_path=item.file_path) }}">点击下载</a></td>
                    <td><a class="btn btn-danger btn-sm" href="{{ url_for('bs.siDelete', sys_id=item.id) }}">点击删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            文件查看
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-small">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function getPreview(sys_id, file_name) {
            $(".modal-body").load("/bs/sipreview/" + sys_id)
            $(".modal-title").text(file_name)
        }
    </script>
    </body>

{% endblock %}