{% if service_type == '1' %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col" class="fst-italic">序号</th>
            <th scope="col" class="fst-italic">服务器类型</th>
            <th scope="col" class="fst-italic">品牌</th>
            <th scope="col" class="fst-italic">型号</th>
            <th scope="col" class="fst-italic">编号</th>
            <th scope="col" class="fst-italic">IP</th>
            <th scope="col" class="fst-italic">名称/用途</th>
            <th scope="col" class="fst-italic">负责人</th>
            <th scope="col" class="fst-italic">机架位置</th>
            <th scope="col" class="fst-italic">其他信息</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ loop.index }}</td>
                {% for item in row %}
                    {% if item|wordcount > 9 %}
                        <td class="text-left">
                            <a class="btn btn-sm btn-secondary" data-toggle="popover" title="参数详情"
                                    data-content="{{ item }}">查看详情
                            </a>
                        </td>
                    {% else %}
                        <td class="text-left">{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if service_type == '2' %}
    <table class="table table-striped table-hover table-bordered table-responsive table-sm">
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ loop.index }}</td>
                {% for item in row %}
                    {% if item|wordcount > 9 %}
                        <td class="text-left">
                            <a class="btn btn-sm btn-secondary" data-toggle="popover" title="参数详情"
                                    data-content="{{ item }}">查看详情
                            </a>
                        </td>
                    {% else %}
                        <td class="text-left">{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'top'
        })
    })
</script>

